*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light-red: #e87575;
    --light-blue: #93a2d0;
    --white: #e3e0e0;
    --black: #202229;
    --grey: #2b2d35;
    --dark-blue: #5466c8;
    --dark-red: #ae3131;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, #8c9eff, #78c6d7, #7788e4, #8c9eff);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.container {
    background-color: var(--black);
    max-width: auto;
    min-width: 400px;
    padding: 14px;
}

.container .calculator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container .calculator-header p {
    color: var(--light-blue);
}

.container .theme-toggle {
    background-color: var(--dark-blue);
    padding: 4px 8px;
    border-radius: 26px;
}

.container .theme-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 4px;
}

.container .display-panel {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    padding: 18px 20px;
    margin-bottom: 20px;
}

.container .display-panel .first-number {
    color: var(--white);
    font-size: 0.9em;
    color: var(--light-red);
}

.container .display-panel .second-number {
    color: var(--white);
    font-size: 1.8em;
}

.container .actions-panel {
    display: flex;
    column-gap: 2px;
    margin-bottom: 2px;
}

.container .actions-panel button {
    background-color: var(--light-blue);
    border: none;
    color: var(--black);
    font-weight: bolder;
    padding: 18px 14px;
    cursor: pointer;
    flex: 1 1 auto;
}

.container .actions-panel button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.container .operations-panel {
    display: flex;
    margin-bottom: 2px;
    column-gap: 2px;
}

.container .operations-panel button {
    background-color: var(--grey);
    color: var(--light-red);
    flex: 1 1 auto;
    border: none;
    cursor: pointer;
    padding: 20px 14px;
    font-weight: bolder;
}

.container .operations-panel button:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.container .number-keys-panel {
    /* background-color: var(--grey); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.container .number-keys-panel button {
    background-color: var(--grey);
    color: var(--white);
    border: none;
    padding: 20px 14px;
    cursor: pointer;
    font-weight: bolder;
}

.container .number-keys-panel .equal-sign {
    background-color: var(--light-red) !important;
}

.container .number-keys-panel button:hover {
    background-color: var(--dark-blue);
}

.container .number-keys-panel .equal-sign:hover {
    background-color: var(--dark-red) !important;
}